/**
* Universal margin-paddings
* Usege: add class margin-top-5, padding-left-20, ...
*/
$max-offset: 20;

@for $i from 0 through $max-offset {
  .margin-#{$i*5} {
	 margin: #{$i*5}px;  	
  }
  .margin-top-#{$i*5} {
	 margin-top: #{$i*5}px;  	
  }
  .margin-bottom-#{$i*5} {
	 margin-bottom: #{$i*5}px;  	
  }
  .margin-left-#{$i*5} {
	 margin-left: #{$i*5}px;  	
  }
  .margin-right-#{$i*5} {
	 margin-right: #{$i*5}px;  	
  }
  .padding-#{$i*5} {
	 padding: #{$i*5}px;  	
  }
  .padding-top-#{$i*5} {
	 margin-top: #{$i*5}px;  	
  }
  .padding-bottom-#{$i*5} {
	 margin-bottom: #{$i*5}px;  	
  }
  .padding-left-#{$i*5} {
	 margin-left: #{$i*5}px;  	
  }
  .padding-right-#{$i*5} {
	 margin-right: #{$i*5}px;  	
  }
}