/**
* Universal opacity
* Usege: add class opacity-5, opacity-90, ...
*/

$max-offset: 20;

@mixin opacity($percentage) {
  -moz-opacity: $percentage;
  -khtml-opacity: $percentage;
  opacity: $percentage;
} 

@for $i from 0 through $max-offset {
    .opacity-#{$i*5} {
         @include opacity(#{$i*5/100});     
    }
}